.rightChart {
  width: 15rem;
  border-radius: 1rem;
  /* background: var(--color-background); */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  background: var(--response-count-background);
  padding: 0.5rem;
}

.rightChart span {
  font-family: Open Sans;
  font-size: 25.78px;
  font-weight: 600;
  line-height: 35.1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--color-foreground);
}
