.deleteContainer {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #ffffff80;
  text-align: center;
  position: relative;
  display: grid;
  border-radius: 2rem;
  background: #18181b;
  width: 20rem;
  height: auto;
  border: 1px solid #47474a;
  box-shadow: 0px 0px 3.8px 0px #ffffff40;
}

.deleteModalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.deleteHeading {
  font-family: "Open Sans", sans-serif;
  font-size: 27.33px;
  font-weight: 600;
  line-height: 41px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}
.deleteActionLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding-left: 1rem;
}

.deleteConfirmLink,
.deleteCancelLink {
  font-family: "Open Sans", sans-serif;
  font-size: 27.33px;
  font-weight: 600;
  line-height: 41px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
  text-decoration: none;
}

.deleteConfirmLink {
  color: #4b83ff;
}

.deleteActionLinks span {
  width: 50px;
  height: 0px;
  top: 192px;
  left: 515px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  rotate: -90deg;
  border: 1px solid #47474a;
}
